*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background-image: linear-gradient(
        to right top,
        #f9f871,
        #ffe469,
        #ffd166,
        #ffbe66,
        #ffac69,
        #ff9d6d,
        #ff8f73,
        #ff827b,
        #fc7486,
        #f46993,
        #e861a2,
        #d65db1
    );
}